*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
.hero{
  background-image: url("./assets/images/tree.png");
}
.slogan{
  padding: 40vh;
  color: azure;
  font-size: 10vh;
  position: relative;
  top:-25vh;
  right: 30vh;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

} */

/* .App-link {
  color: #61dafb;
} */
nav ul{
  display: flex;
  justify-content: center;
  padding: 5vh;
  border-bottom: #344e41 solid 1px;
  margin: 0 10vh;
  color: azure;
  list-style: none;
}
nav a{
    padding: 3vh 3vh 3vh;
    text-decoration: none;
    color: azure;
    font-size: 2vh;
}
.title{
  font-size: 3vh;
  padding-right: 7vh;
  position: relative;
  top:-8px;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
